$duoresp-red: #91222d;
$duoresp-grey: #333333;

.header_text {
	-ms-grid-row: 2;
}

.bullets {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	grid-column: 2/-2;
	-ms-grid-row: 3;
	justify-self: center;
	-ms-grid-column-align: center;
	color: $duoresp-grey;
	max-width: 400px;
	font-size: 20px;
	list-style-image: url(../assets/img/hcp/bullet-icon.png);

	li {
		margin-bottom: 40px;
	}
	&.two {
		-ms-grid-row: 5;
	}
}

.inhalers {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: wrap;
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 4;
	grid-column: 2/-2;
	margin-bottom: 70px;
	-ms-grid-column-align: center;
	justify-content: space-evenly;
	margin: 0 auto;
}
.sub_text {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	grid-column: 2/-2;
	-ms-grid-row: 7;
	font-size: 7vw;
	color: $duoresp-red;
	justify-self: center;
	-ms-grid-column-align: center;

	&.two {
		-ms-grid-row: 10;
	}
	&.three {
		-ms-grid-row: 12;
  }
}

.placebo_text {
  color: #333;
  font-size: 20px;
  margin: 0;
  justify-self: center;
}

.know_more {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	grid-column: 2/-2;
	-ms-grid-row: 6;
	justify-self: center;
	-ms-grid-column-align: center;
	margin: 0;
}

.video {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 8;
	grid-column: 2/-2;
	justify-self: center;
	-ms-grid-column-align: center;
	margin-bottom: 40px;
	max-width: 100%;
}

.links {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 9;
	grid-column: 2/-2;
	width: 100%;
    justify-self: center;
    -ms-grid-column-align: center;

    &.two {
    	-ms-grid-row: 13;
    }
}
.patient-guide {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	grid-column: 2/-2;
	justify-self: center;
	-ms-grid-column-align: center;
	display: flex;
	align-items: center;
	img {
		margin-right: 9%;
		max-width: 9%;
	}
	p {
		color: $duoresp-grey;
		font-size: 3vw;
	}
}

.table {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	grid-column: 2/-2;
	-ms-grid-row: 11;
	justify-self: center;
	-ms-grid-column-align: center;
	margin-bottom: 40px;
	max-width: 100%;
}

.spiromax_guides {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 14;
	grid-column: 2/-2;
	justify-self: center;
	-ms-grid-column-align: center;
	max-width: 670px;
}

#dropdown {
	width: 100%;
	height: 100%;
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 15;
	grid-column: 2/-2;
	justify-self: center;
	-ms-grid-column-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	background: url(../assets/img/hcp/dropdown.jpg) no-repeat;
	background-size: 100%;
}

.dropbtn {
	background: transparent;
	color: #fff;
	padding: 16px;
	width: 100%;
	font-size: 16px;
	border: none;
}

.dropdown-content {
	position: relative;
	width: 100%;
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
	color: black;
	font-family: unit-regular;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

#dropdown .dropdown-content {

	&.show {
		display: block;
		height: 210px;
		overflow: scroll;
	}
}

.further-info {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 16;
	grid-column: 2/-2;
	justify-self: center;
	-ms-grid-column-align: center;
}

.back-button {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 17;
	grid-column: 2/-2;
	justify-self: center;
	-ms-grid-column-align: center;
	max-width: 40%;
	margin: 40px;
}

.key {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	grid-column: 2/-2;
	-ms-grid-row: 18;
	justify-self: center;
	-ms-grid-column-align: center;
	font-size: 12px;
	color: $duoresp-grey;
}

.footer {
	-ms-grid-row: 19;
	-ms-grid-column-span: 22;
	grid-row: 19/22;
}

.footer-nav {
	-ms-grid-row: 19;
	grid-row: 19;
}
.disclaimer {
	-ms-grid-row: 19;
	grid-row: 19;

}
.teva-logo {
	-ms-grid-row: 19;
	grid-row: 19;

}

.footer-nav ul {
	width: 351px;
}




@media only screen and (max-width: 1026px) {


	.footer-nav {
		-ms-grid-row: 20;
		grid-row: 20;
	}
	.teva-logo {
		-ms-grid-row: 21;
		grid-row: 21;
	}
}
@media screen and (min-width: 441px) {

	.sub_text {
		font-size: 30px;
	}
}

@media screen and (max-width: 441px) {

	.sub_text {
		-ms-grid-column-align: left;
		justify-self: left;
	}
}
@media screen and (min-width: 750px) {

	#dropdown {
		width: 476px;
		height: 53px;
	}
	.dropbtn {
		height: 53px;
	}
	.video {
		width: 1000px;
	}

	.table {
		width: 676px;
	}

	.links {
		width: 671px;
	}
	.patient-guide {
		p {
		font-size: 20px;
		}
	}
	.spiromax_guides {
		font-size: 20px;
	}
	.further-info {
		font-size: 20px;
	}
}

/* MODAL */
.popup{
  width: 100%;
  height: 100vh;
  display: none;

  position: fixed;
  top: 0;
  right: 0;
}

#popup-article:target{
  display: flex;
}

h1.popup__title,
p.modal__text__sub-header-text,
p.modal__text,
p.modal__text__bold,
ul.modal__text,
li.modal__text {
  color: #F7F1EF;
}

p.modal__text__sub-header-text {
  margin: 0 auto 0.15em;
}

h1.popup__title {
  font-weight: 700;
}

p.modal__text__bold {
  text-align: left;
  font-weight: 700;
}

p.modal__text,
ul.modal__text,
li.modal__text {
  text-align: justify;
  font-weight: 300;
  font-size: 1.6rem;
}

ul.modal__text,
li.modal__text {
  margin-left: 1.5em;
}

.form-button {
  width: 125px;
  height: 40px;
  color: #91222d;
  font-weight: 400;
  font-size: 1.5rem;
}

form input {
  width: 83%;
  font-size: 1.25rem;
  padding: 0.4em;
}

.popup:before{
  content: "";
  box-sizing: border-box;
  width: 100%;
  background-color: #91222d;

  position: fixed;
  left: 0;
  top: 50%;
  will-change: height, top;
  animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
}

.popup:after{
  content: "";
  width: 0;
  height: 2px;
  background-color: #91222d;

  will-change: width, opacity;
  animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;

  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}

@keyframes line-animation{

  0%{
    width: 0;
    opacity: 1;
  }

  99%{
    width: 100%;
    opacity: 1;
  }

  100%{
    width: 100%;
    opacity: 0;
  }
}

@keyframes open-animation{

  0%{
    height: 0;
    top: 50%;
  }

  100%{
    height: 100vh;
    top: 0;
  }
}

.popup__block{
  height: calc(100vh - 40px);
  padding: 2.5% 15%;
  box-sizing: border-box;
  position: relative;

  margin: auto;
  overflow: auto;
  animation: fade .5s ease-out 1.3s both;
}

@keyframes fade{

  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.popup__title{
  font-size: 2.5rem;
  margin: 0 0 1em;
}

.popup__close{
  font-size: 3rem;
  color: white;
  position: fixed;
  text-decoration: none;
  top: 7px;
  right: 20px;
}
