$duoresp-red: #91222d;
$duoresp-grey: #333333;

.header_text {
	-ms-grid-row: 2;
}

a {
	height: 100%;
}
.asthma_symptoms {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 3;
	grid-column: 2/-2;
	max-width: 1072px;
	font-size: 4vw;
	color: $duoresp-grey;
	-ms-grid-column-align: center;
	justify-self: center;
}


.icons {
	display: flex;
	max-width: 1060px;
	justify-content: space-around;
	flex-wrap: wrap;
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 4;
	grid-column: 2/-2;
	-ms-grid-column-align: center;
	justify-self: center;

	img {
		margin-bottom: 30px;
	}
}

.more-info {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 5;
	grid-column: 2/-2;
	font-size: 4vw;
	max-width: 1072px;
	color: $duoresp-grey;
	-ms-grid-column-align: center;
	justify-self: center;
}

.patient-buttons {
	display: flex;
	flex-flow: wrap;
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 6;
	grid-column: 2/-2;
	-ms-grid-column-align: center;
	justify-content: center;

	.asthma-button,.lung-foundation-button {
		margin: 10px;
		width: 100%;
		height: 91px;
	}

}

.prescribed-duoresp {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 7;
	grid-column: 2/-2;
	font-size: 4vw;
	max-width: 1072px;
	-ms-grid-column-align: center;
	justify-self: center;
}

.patient-btn-container {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 8;
	grid-column: 2/-2;
	-ms-grid-column-align: center;
    justify-self: center;
}

.i-am-patient-button {
	justify-self: center;
	grid-column: 2/-2;
	width: 320px;
	height: 187px;
	margin-top: 30px;
	margin-bottom: 30px;
	background: url(../assets/img/patient-information/i-am-patient-button-inactive.png) no-repeat;
	background-size: 311px 187px;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;

	&:hover {
		background: url(../assets/img/patient-information/i-am-patient-button-active.png) no-repeat;
		background-size: 311px 187px;
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}

}

.prescribed-text {
	-ms-grid-column: 2;
	-ms-grid-column-span: 4;
	-ms-grid-row: 9;
	grid-column: 2/-2;
	font-size: 3vw;
	-ms-grid-column-align: center;
	justify-self: center;
}

.footer {
	-ms-grid-row: 10;
	-ms-grid-row-span: 13;
	grid-row: 10/13;
}

.footer-nav {
	-ms-grid-row: 10;
	grid-row: 10;
}
.disclaimer {
	-ms-grid-row: 10;
	grid-row: 10;

}
.teva-logo {
	-ms-grid-row: 10;
	grid-row: 10;

}


@media only screen and (min-width: 461px) {


	.asthma-button,.lung-foundation-button {
		max-width: 423px;
	}
}

@media only screen and (max-width: 1026px) {


	.footer-nav { 

		grid-row: 11;
	
	}
	.teva-logo {

		grid-row: 12;
	
	}
}

@media screen and (min-width: 930px) {
	.asthma_symptoms, .more-info {
		font-size: 29px;
	}
	.prescribed-duoresp {
		font-size: 29px;
	}

	.prescribed-text {
		grid-column: 2/-2;
		font-size: 19px;
	}

}
